<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omjoonkim.doyouremember">

    <application
        android:name=".common.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/mango_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".app.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".app.frequentlyusedaccount.registeraccount.RegisterFrequentlyUsedAccountActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".app.myaccount.registermyaccount.RegisterMyAccountActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.writing.sendmoney.WritingSendActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.writing.selectfrequentlyusedaccount.SelectFrequentlyUsedActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".app.writing.receivemoney.WritingReceiveActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>
    </application>

</manifest>